body,h1,h2,h3{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.lm-f{
    margin-left: 1rem !important;
}
.lm-h{
    margin-left: 0.5rem !important;
}
.lm-q{
    margin-left: 0.25rem !important;
}
.container{
    background-color : rgb(240, 240, 240);
    margin           : auto;
    width            : 1280px;
    box-sizing       : border-box;
}
.header{
    background-color : rgb(20, 20, 100);
    width            : 80%;
    margin           : auto;
    box-sizing       : border-box;
    color            : white;
    padding          : 0.5rem;
    font-size        : 0.8rem;
}
.main-content{
    background-color : white;
    margin           : auto;
    margin-top       : 1rem;
    margin-bottom    : 1rem;
    width            : 98%;
    min-height       : 510px;
    color            : white;
    padding          : 1rem;
    box-sizing       : border-box;
}
.left{
    width            : 30%;
    float            : left;
}
.right{
    border           : 2px solid rgb(20, 20, 100);
    width            : 68%;
    min-height       : 480px;
    float            : right;
    color            : rgb(20, 20, 100);
}
.nomor0, .nomor1, .nomor2, .nomor3{
    background-color : rgb(130, 128, 253);
    width            : 60%;
    margin           : auto;
    padding          : 1rem;
    margin-top       : 1rem;
    margin-bottom    : 1rem;
    text-align       : center;
}
.row{
    width            : 95%;
    margin           : 1.5rem 0.35rem;
    box-sizing       : border-box;
}
.col1{
    width            : 30%;
    font-size        : 1.25rem;
    float            : left;
}
.col2{
    width            : 68%;
    float            : right;
    font-size        : 1.25rem;
}
.main-content a{
    text-decoration  : none;
    color            : white;
    font-size        : 1rem;
}
form{
    margin           : 1rem;
    color            : rgb(20, 20, 100);
}
input[type=text] {
    display          : block;
    width            : 100%;
    float            : right;
    padding          : 0.25rem;
    border           : none;
    border-radius    : 0.25rem;
    background       : rgb(231, 230, 255);
    color            : black;
    box-sizing       : border-box;
}
.submit-button{
    background-color : rgb(20,20,100);
    border           : none;
    border-radius    : 00.25rem;
    color            : white;
    padding          : 0.5rem 0.25rem;
    width            : 35%;
    cursor           : pointer;
    float            : right;
}
#SUM, #MIN, #MUL, #DIV{
    min-height       : 15px;
    margin           : 1rem;
}
.submit-button:hover{
    background-color : rgb(24, 27, 34);
}
.footer{
    background-color : rgb(20, 20, 100);
    width            : 80%;
    margin           : auto;
    box-sizing       : border-box;
    color            : white;
    padding          : 0.5rem;
    font-size        : 0.8rem;
    text-align       : center;
}
.cf:before, .cf:after {
    content          : " "; 
    display          : table; 
}

.cf:after {
    clear            : both;
}
.cf {
    *zoom            : 1;
}