body,h1,h2,h3,h4{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(3, 27, 3);
}
.header, .maincontent, .orderbox, .footer, .offer, .fruitlist, .fruit{
    box-sizing: border-box;
    padding: 0.5rem;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 620px;
    margin: auto;
    box-sizing: border-box;
}
.header{
    background-color: seagreen;
    width: 100%;
    min-height: 50px;
    margin: auto;
}
.content{
    background-color: rgb(210, 240, 206);
    width: 100%;
    padding: 1rem;
    min-height: 500px;
    margin: auto;
    box-sizing: border-box;
}
.maincontent{
    background-color: seagreen;
    border-radius: 0.5rem;
    width: 69%;
    min-height: 500px;
    float: left;
}
.cover{
    background-image: url(media/daun.jpg);
    border-radius: 0.5rem 0.5rem 0 0;
    background-size :cover;
    width: 98%;
    height: 120px;
    margin: auto;
}
.fruitlist{
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 0.5rem 0.5rem;
    width: 98%;
    min-height: 360px;
    margin: auto;
}
.fruit{
    border: 1px solid rgb(194, 248, 194);
    background-color: rgb(216, 235, 213);
    border-radius: 0.5rem;
    width: 32.75%;
    min-height: 320px;
    margin: 0.1rem;
    float: left;
}
.fruit img{
    border-radius: 0.5rem;
    width: 100%;
    margin: auto;
}
.fruitinfo{
    padding-bottom      : 0.25rem;
    width: 100%;
    margin: auto;
}
.fruitinfo h2{
    padding-bottom      : 0.25rem;
    margin-top          : 0.125rem !important;
    margin-bottom       : 0.125rem !important;
    border-bottom       : 2px solid rgb(3, 27, 3);;
}
.orderbox{
    background-color: rgb(210, 240, 206);
    width: 30%;
    min-height: 500px;
    float: right;
    border-radius: 0.5rem;
}

/* TABLE */
table {
    border-collapse: collapse;
    margin: 0.25rem;
    box-sizing: border-box;
}
.table {
    width: 98%;
    background-color: rgb(208, 235, 211);
    margin-bottom: 1rem;
    color: #02300c;
}
.table th,.table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(3, 27, 3);
}
.table-bordered {
    border-bottom: 0.5px solid #02300c;
}
.table-bordered th{
    border-top: 2.5px solid #02300c;
    border-bottom: 2.5px solid #02300c;
}
.totalPrice{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.labelTotal{
    width: 44%;
    height: 20px;
    float: left;

}
.labelTotal h3{
    text-align: right;
}
.valueTotal{
    width: 55%;
    height: 20px;
    float: right;
}
.valueTotal h3{
    margin-right: 00.5rem;
    text-align: right;
}

.footer{
    text-align: center;
    background-color: seagreen;
    width: 100%;
    min-height: 25px;
    margin: auto;
}

/* PLUS MINUS BUTTON */
.fruitinfo input, .fruitinfo textarea {
    border: 2px solid #d9ffd7;
    box-sizing: border-box;
    margin: 0;
    color: rgb(3, 27, 3);
    outline: none;
    padding: 10px;
}
input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input-group {
    /* clear: both; */
    margin: 15px 0;
    /* position: relative; */
}
.input-group input[type='button'] {
    background-color: seagreen;
    min-width: 25px;
    width: auto;
    transition: all 300ms ease;
}
.input-group .button-minus, .input-group .button-plus {
    font-weight: bold;
    height: 25px;
    padding: 0;
    width: 25px;
    position: relative;
}
.input-group .button-minus{
    border-radius: 0.75rem 0 0 0.75rem;
}
.input-group .button-plus{
    border-radius: 0 0.75rem 0.75rem 0;
}
.input-group .quantity-field {
    position: relative;
    height: 25px;
    left: -6px;
    text-align: center;
    width: 45px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}
.button-plus {
    left: -13px;
}
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
.input-group h3 {
    float: right;
    width: 60%;
    min-height: 15px;
    text-align: right;
}
/* Clear Fix for Float Layouting */
.cf:before, .cf:after {
    content          : " "; 
    display          : table; 
}
.cf:after {
    clear            : both;
}
.cf {
    *zoom            : 1;
}